//colours
$black-01: #000000;
$black-02: #181818;

$blue-01: #79cdcd;
$blue-02: #00688b;
$blue-03: #528b8b;
$blue-04: #388e8e;
$blue-05: #5f9f9f;
$blue-06: #c1f0f6;

$green-01: #78ab46;
$green-02: #7fff00;
$green-03: #586949;
$green-04: #608341;

$grey-01: #444;
$grey-02: #666;
$grey-03: #888;
$grey-04: #aaa;
$grey-05: #ccc;
$grey-06: #e8e8e8;

$red-01: #b20000;
$red-02: #ff4c4c;

$white-01: #fff;
$white-02: #f0f0f0;
